@page "/home"
@using Microsoft.AspNetCore.Authorization
@using IApply.Frontend.Services
@using IApply.Frontend.Services.ApiService.Me

@inject AlertService AlertService
@inject LoadingService LoadingService
@inject IMeService MeService
@inject IHttpContextAccessor HttpContextAccessor

@attribute [Authorize]

<PageTitle>Home</PageTitle>


<!-- Page body -->
        <div class="row row-deck row-cards">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">

                            <div class="subheader">Total Driver</div>
                            <div class="ms-auto text-muted">

                                <div class="dropdown">
                                    <a class="dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@City</a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        @foreach (string city in Cities.Keys)
                                        {
                                            <a class="dropdown-item @(city == City ? "active" : "")" @onclick="()=>HandleCityChange(city)">@city</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h1 mb-3">@(Drivers != null ? Drivers.Count : 0)</div>
                        @* <div class="d-flex mb-2"> *@
                        @*     <div>Conversion rate</div> *@
                        @*     <div class="ms-auto"> *@
                        @*         <span class="text-green d-inline-flex align-items-center lh-1"> *@
                        @*             7% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up --> *@
                        @*             <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg> *@
                        @*         </span> *@
                        @*     </div> *@
                        @* </div> *@
                        @* <div class="progress progress-sm"> *@
                        @*     <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete"> *@
                        @*         <span class="visually-hidden">75% Complete</span> *@
                        @*     </div> *@
                        @* </div> *@
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Total Riders</div>
                            <div class="ms-auto lh-1 text-muted">
                                Last 7 days
                                @* <div class="dropdown"> *@
                                @*     <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a> *@
                                @*     <div class="dropdown-menu dropdown-menu-end"> *@
                                @*         <a class="dropdown-item active" href="#">Last 7 days</a> *@
                                @*         <a class="dropdown-item" href="#">Last 30 days</a> *@
                                @*         <a class="dropdown-item" href="#">Last 3 months</a> *@
                                @*     </div> *@
                                @* </div> *@
                            </div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">300</div>
                            @* <div class="me-auto"> *@
                            @*     <span class="text-green d-inline-flex align-items-center lh-1"> *@
                            @*         8% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up --> *@
                            @*         <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg> *@
                            @*     </span> *@
                            @* </div> *@
                        </div>
                    </div>
                    <div id="chart-revenue-bg" class="chart-sm"></div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Total Bookings</div>
                            <div class="ms-auto lh-1 text-muted">
                                Last 7 days
                                @* <div class="dropdown"> *@
                                @*     <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a> *@
                                @*     <div class="dropdown-menu dropdown-menu-end"> *@
                                @*         <a class="dropdown-item active" href="#">Last 7 days</a> *@
                                @*         <a class="dropdown-item" href="#">Last 30 days</a> *@
                                @*         <a class="dropdown-item" href="#">Last 3 months</a> *@
                                @*     </div> *@
                                @* </div> *@
                            </div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-3 me-2">2</div>
                            @* <div class="me-auto"> *@
                            @*     <span class="text-yellow d-inline-flex align-items-center lh-1"> *@
                            @*         0% <!-- Download SVG icon from http://tabler-icons.io/i/minus --> *@
                            @*         <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /></svg> *@
                            @*     </span> *@
                            @* </div> *@
                        </div>
                        <div id="chart-new-clients" class="chart-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col subheader text-wrap">Total Female Drivers</div>
                            <div class="col ms-auto lh-1 text-muted">
                                Last 7 days
                                @* <div class="dropdown"> *@
                                @*     <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a> *@
                                @*     <div class="dropdown-menu dropdown-menu-end"> *@
                                @*         <a class="dropdown-item active" href="#">Last 7 days</a> *@
                                @*         <a class="dropdown-item" href="#">Last 30 days</a> *@
                                @*         <a class="dropdown-item" href="#">Last 3 months</a> *@
                                @*     </div> *@
                                @* </div> *@
                            </div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-3 me-2">6</div>
                            @* <div class="me-auto"> *@
                            @*     <span class="text-green d-inline-flex align-items-center lh-1"> *@
                            @*         4% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up --> *@
                            @*         <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg> *@
                            @*     </span> *@
                            @* </div> *@
                        </div>
                        <div id="chart-active-users" class="chart-sm"></div>
                    </div>
                </div>
            </div>
        </div>


@code {
    private List<dynamic>? Drivers = new();
    private Dictionary<string, (string Latitude, string Longitude, string Radius)> Cities = new()
    {
        { "Islamabad", ("33.738045", "73.084488", "20") },
        { "Rawalpindi", ("33.598827", "73.053810", "40") }
    };
    private string City = "Islamabad";

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync started.");
        var user = HttpContextAccessor.HttpContext?.User;
        if (user != null)
        {
            Console.WriteLine($"Is Authenticated: {user.Identity.IsAuthenticated}");
        }
        else
        {
            Console.WriteLine("HttpContext or User is null.");
        }

        Console.WriteLine("OnInitializedAsync completed.");
        // await GetDrivers();
    }

    private async Task HandleCityChange(string e)
    {
        if (City != e)
        {
            City = e;
            // await GetDrivers();
        }
    }

    // private async Task GetDrivers()
    // {
    //     try
    //     {
    //         LoadingService.Show();

    //         if (Cities.TryGetValue(City, out var cityData))
    //         {
    //             var (latitude, longitude, radius) = cityData;
    //             var response = await MeService.FindDrivers(latitude, longitude, radius);

    //             if (response != null)
    //             {
    //                 Drivers = response;
    //             }
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         AlertService.ShowError(ex.Message);
    //     }
    //     finally
    //     {
    //         LoadingService.Hide();
    //     }
    // }
}
