@page "/forgot-password"

@using IApply.Frontend.Services
@using IApply.Frontend.Services.ApiService.System

@layout AccountLayout

@inject ISystemService SystemService
@inject AlertService AlertService
@inject LoadingService LoadingService

<PageTitle>Forget Password</PageTitle>

<div class="page page-center">
    <div class="container container-tight py-4">
        <form class="card card-md" @onsubmit="SubmitForgetPassword">
            <div class="card-body">
                <h2 class="card-title text-center mb-2 fw-bold">Forgot Password</h2>
                <p class="text-secondary mb-2 fs-4">Enter your email address, and you will receive reset instructions.</p>


                @if (!string.IsNullOrEmpty(message))
                {
                    <div class="alert alert-success text-center mt-2">@message</div>
                }
            </div>
        </form>
    </div>
</div>

@code {
    private string message = string.Empty;

    private async Task SubmitForgetPassword()
    {
        try
        {


            LoadingService.Show();

        }
        catch (Exception ex)
        {
            AlertService.ShowError(ex.Message);
        }
        finally
        {
            LoadingService.Hide(); // Stop loading
        }
    }
}