@page "/reset-password"

@using Microsoft.AspNetCore.WebUtilities
@using IApply.Frontend.Services
@using IApply.Frontend.Services.ApiService.System
@using IApply.Frontend.Layout

@layout AccountLayout

@inject NavigationManager Navigation
@inject ISystemService SystemService
@inject AlertService AlertService
@inject LoadingService LoadingService

<PageTitle>Reset Password</PageTitle>

<div class="page page-center">
    <div class="container container-tight py-4">
        @if (!isSuccess)
        {
            <form class="card card-md" @onsubmit="SubmitResetPassword">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Reset Password</h2>
                    <p class="text-secondary mb-4">Enter your new Password.</p>

                    @* <div class="mb-3"> *@
                    @*     <label class="form-label">Enter Password</label> *@
                    @*     <input type="password" class="form-control" placeholder="Enter password" @bind="resetPasswordRequest.Password" required /> *@
                    @* </div> *@

                    @* <div class="mb-3"> *@
                    @*     <label class="form-label">Confirm Password</label> *@
                    @*     <input type="password" class="form-control" placeholder="Confirm password" @bind="resetPasswordRequest.ConfirmPassword" required /> *@
                    @* </div> *@

                    @* <div class="form-footer"> *@
                    @*     <button type="submit" class="btn custom-btn w-100" disabled="@LoadingService.IsLoading"> *@
                    @*         @if (LoadingService.IsLoading) *@
                    @*         { *@
                    @*             <span>Processing...</span> *@
                    @*         } *@
                    @*         else *@
                    @*         { *@
                    @*             <span>Continue</span> *@
                    @*         } *@
                    @*     </button> *@
                    @* </div> *@

                    @if (!string.IsNullOrEmpty(message))
                    {
                        <div class="alert alert-danger text-center mt-3">@message</div>
                    }
                </div>
            </form>
        }
        else
        {
            <div class="alert alert-success text-center">
                <h3>Password Reset Successfully!</h3>
                <p>You can now log in with your new password.</p>
            </div>
        }
    </div>
</div>

@code {
    private bool isSuccess = false;
    private string message = string.Empty;

    protected override void OnInitialized()
    {
        var uri = Navigation.Uri;
        var queryParams = QueryHelpers.ParseQuery(new Uri(uri).Query);

        if (queryParams.TryGetValue("U", out var userIdValue))
        {
            if (int.TryParse(userIdValue, out int userId))
            {
            }
            else
            {
                message = "Invalid user ID.";
            }
        }
        else
        {
            message = "User ID is missing in the URL.";
        }
    }

    private async Task SubmitResetPassword()
    {
        try
        {


            LoadingService.Show();

        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
        finally
        {
            LoadingService.Hide();
        }
    }
}
