<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="dist/css/tabler.css" rel="stylesheet" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="/app.css" />
    <link rel="icon" type="image/svg" href="vector.svg" />


    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <!-- Tabler Core -->
    <script src="dist/js/tabler.js" defer></script>
    <script src="js/getClientInformation.js"></script>
    <script src="dist/js/jquery.min.js"></script>
    <script src="dist/js/jquery-ui.min.js"></script>
    <script src="js/doubleScroll.js"></script>
    <script src="js/common.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-messaging-compat.js"></script>
</body>

</html>
