<PageTitle>Verification - Mishwar</PageTitle>
<div class="container">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="tabler/static/logo.svg" height="36" alt="">
        </a>
    </div>
    <div class="card card-lg card-borderless">
        <div class="card-header d-flex justify-content-center">
            <div class="card-title">Verify your account</div>
        </div>
        <div class="card-body pt-0 px-2">
            <div class="card-title">Hello</div>
        </div>
    </div>
</div>

@code {

}
