@inherits LayoutComponentBase
@using IApply.Frontend.Services
@using IApply.Frontend.Components.Alert
@using IApply.Frontend.Components.CLoader
@inject LoadingService LoadingService

<div class="d-flex flex-column">
    <div class="page page-center">

        <div class="container vh-100 d-flex align-items-center justify-content-center">
            <div class="row align-items-center">
                <div class="col-lg">
                    @Body
                </div>
                <div class="col-lg d-none d-lg-block ms-5">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="556" height="400" viewBox="0 0 600.000000 600.000000">
                        <g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path fill="#b12c2d" d="M1600 4245 l0 -325 1400 0 1400 0 0 325 0 325 -1400 0 -1400 0 0
-325z" />
                            <path d="M2650 2455 l0 -995 330 0 330 0 0 995 0 995 -330 0 -330 0 0 -995z" />
                        </g>
                    </svg>
                    @* <svg width="556" height="122" viewBox="0 0 556 122" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M119.66 67.91A60.85 60.85 0 0 0 76.309 2.593 60.85 60.85 0 0 0 4.569 34.2a21.5 21.5 0 0 1 2.65-2.37A13.82 13.82 0 0 1 17.87 29a16.6 16.6 0 0 1 9.27 5.37 35.4 35.4 0 0 1 5 7.24 144 144 0 0 1 7 16.36l.27.7c1.45 3.79 2.74 7.17 4 10 1.09-2 2.17-4.27 3.36-6.71.94-1.93 2-4 3.07-6.22 2.67-5.25 6.18-11.68 10.62-15.91a18.45 18.45 0 0 1 10-5.21 16.32 16.32 0 0 1 12.43 3.56c7.36 5.73 13.45 13.39 18.131 19.26.67.84 1.31 1.65 1.92 2.4a60 60 0 0 0 6.33 7.06q.616.551 1.31 1zm-5.37 19H110c-5.8 0-10.31-3.14-13.23-5.71a77 77 0 0 1-8.58-9.4l-2.1-2.62c-4.37-5.47-8.54-10.68-13.33-14.75-1.64 1.9-3.62 5.22-6 10-.78 1.53-1.62 3.25-2.49 5-1.82 3.73-3.78 7.74-5.59 10.88a38.6 38.6 0 0 1-5.11 7.17c-1.85 1.94-5.44 5-10.61 5a14.1 14.1 0 0 1-10.31-4.91 31.4 31.4 0 0 1-4.6-6.94 153 153 0 0 1-6.17-14.71l-.42-1.12a138 138 0 0 0-5.8-13.72c-1.4 2.29-2.91 5.16-4.56 8.44L9.84 62c-1.77 3.56-3.67 7.38-5.47 10.41A36 36 0 0 1 .68 77.7a60.86 60.86 0 0 0 113.61 9.22z" fill="#FFAF1B" /><path d="m154.09 89.84 9.44-55.65h14.32L189 63.86l11.07-29.67h14.32l9.44 55.65h-14.4l-4.79-32-13.14 32h-5.76l-12.47-32-4.79 32zm93.36-55.65v55.65H233V34.19zm42.17 14.25a16.8 16.8 0 0 0-4.72-2.81 12.2 12.2 0 0 0-4.58-1 7.44 7.44 0 0 0-4.57 1.33 4.13 4.13 0 0 0-1.77 3.46 3.43 3.43 0 0 0 .88 2.44 8.2 8.2 0 0 0 2.29 1.7c1.054.47 2.14.864 3.25 1.18 1.23.34 2.43.71 3.61 1.11q7.1 2.36 10.33 6.34t3.32 10.26a19.7 19.7 0 0 1-1.47 7.75 16 16 0 0 1-4.21 6 18.8 18.8 0 0 1-6.79 3.77 27.1 27.1 0 0 1-9.07 1.4 33.45 33.45 0 0 1-19.56-6.27l6.2-11.66a25 25 0 0 0 6.42 4.28 15.5 15.5 0 0 0 6.27 1.4q3.54 0 5.24-1.62a4.92 4.92 0 0 0 1.77-3.69 4.7 4.7 0 0 0-.44-2.14 4.3 4.3 0 0 0-1.48-1.69 10.2 10.2 0 0 0-2.73-1.48c-1.08-.45-2.41-.94-4-1.48a97 97 0 0 1-5.54-1.92 18.5 18.5 0 0 1-4.79-2.88 14 14 0 0 1-3.4-4.43 16.5 16.5 0 0 1-1.25-6.86 19.8 19.8 0 0 1 1.33-7.45 16.9 16.9 0 0 1 3.83-5.76 17.4 17.4 0 0 1 6.06-3.76 23.3 23.3 0 0 1 8-1.33c2.915.02 5.816.417 8.63 1.18a37.4 37.4 0 0 1 8.64 3.32zm31.62 7.23h20.88V34.19h14.47v55.65h-14.47v-23h-20.88v23h-14.46V34.19h14.46zm56.3-21.48 9.6 35.94 11.8-35.94h11.52l11.8 35.94 9.6-35.94H447l-16.6 55.65h-14.78L404.7 57.58l-10.92 32.26H379l-16.6-55.65zm102.61 35-6.49-18.52-6.5 18.52zm3.84 11h-20.66L460 89.84h-15.42l21.18-55.65h15.79l21.18 55.65h-15.42zm39.53-21.11h2.73q4.29 0 6.57-1.77a6.8 6.8 0 0 0 2.291-5.09 6.8 6.8 0 0 0-2.291-5.09c-1.52-1.19-3.71-1.77-6.57-1.77h-2.73zm31.8 30.78h-18l-13.81-21.4v21.4h-14.45V34.19h22.5a21.6 21.6 0 0 1 8.12 1.4 15.19 15.19 0 0 1 9.08 9.16 18.6 18.6 0 0 1 1.18 6.64q0 6.35-3.1 10.33a15.3 15.3 0 0 1-9 5.31z" fill="#000" /></svg> *@
                </div>
            </div>
        </div>
    </div>

    <CLoader Show="LoadingService.IsLoading" HandleClose="@(async (val) => { })" />
    <Alert />
</div>

@code {
    protected override void OnInitialized()
    {
        LoadingService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        LoadingService.OnChange -= StateHasChanged;
    }
}
